In [2]:
#modifying data
#changing variable types,
#adding, modifying variables using algebric operations, condition
#handling missing values, creating dummy variables, using demiliter

In [5]:
import numpy as np
import pandas as pd

In [9]:
age = np.random.choice([15,20,45,12,'10',15,'34',7,'missing'],50)
fico=np.random.choice(['100-15', '150-200', '200-250', '250-300'], 50)

City = np.random.choice(['Mumbai', 'Thane', 'Pune', 'Latur'], 50)
ID=np.arange(50)
rating=np.random.choice(['Excellent', 'Good', 'Bad', 'Patheetic'], 50)
balance=np.random.choice([10000,20000,30000,40000,np.nan,50000,60000],50)
children=np.random.randint(high=5, low=0,size=(50))

In [10]:
mydata=pd.DataFrame({'ID':ID,'age':age,'fico':fico,'City':City,'rating':rating,'balance':balance,'children':children})

In [80]:
mydata

[('missing', '200-250', 'Thane', 0, 'Bad', nan, 1),
 ('missing', '150-200', 'Latur', 1, 'Patheetic', 20000.0, 2),
 ('15', '250-300', 'Thane', 2, 'Bad', 60000.0, 0),
 ('45', '200-250', 'Pune', 3, 'Bad', nan, 2),
 ('7', '200-250', 'Mumbai', 4, 'Patheetic', 30000.0, 0),
 ('missing', '100-15', 'Latur', 5, 'Bad', 50000.0, 2),
 ('15', '100-15', 'Mumbai', 6, 'Excellent', 20000.0, 1),
 ('15', '200-250', 'Pune', 7, 'Bad', 40000.0, 1),
 ('15', '150-200', 'Thane', 8, 'Patheetic', 50000.0, 1),
 ('20', '150-200', 'Latur', 9, 'Excellent', 60000.0, 1),
 ('34', '100-15', 'Mumbai', 10, 'Excellent', 40000.0, 0),
 ('45', '250-300', 'Pune', 11, 'Good', 40000.0, 4),
 ('20', '200-250', 'Mumbai', 12, 'Patheetic', 60000.0, 4),
 ('7', '150-200', 'Pune', 13, 'Patheetic', 60000.0, 0),
 ('20', '250-300', 'Thane', 14, 'Good', 60000.0, 2),
 ('20', '150-200', 'Latur', 15, 'Excellent', nan, 0),
 ('34', '200-250', 'Mumbai', 16, 'Excellent', nan, 2),
 ('34', '200-250', 'Mumbai', 17, 'Patheetic', 40000.0, 2),
 ('34', '250-300', 'Pune', 18, 'Good', 60000.0, 0),
 ('15', '150-200', 'Pune', 19, 'Bad', 10000.0, 3),
 ('10', '100-15', 'Thane', 20, 'Good', 30000.0, 2),
 ('15', '250-300', 'Latur', 21, 'Good', 10000.0, 0),
 ('12', '250-300', 'Mumbai', 22, 'Excellent', 60000.0, 0),
 ('15', '250-300', 'Pune', 23, 'Patheetic', 10000.0, 0),
 ('12', '200-250', 'Pune', 24, 'Excellent', 20000.0, 0),
 ('20', '100-15', 'Pune', 25, 'Bad', 20000.0, 2),
 ('15', '200-250', 'Pune', 26, 'Patheetic', 50000.0, 3),
 ('15', '250-300', 'Mumbai', 27, 'Bad', 20000.0, 2),
 ('10', '150-200', 'Pune', 28, 'Patheetic', 60000.0, 2),
 ('12', '150-200', 'Mumbai', 29, 'Patheetic', 40000.0, 2),
 ('missing', '150-200', 'Mumbai', 30, 'Patheetic', 10000.0, 3),
 ('20', '200-250', 'Latur', 31, 'Patheetic', 40000.0, 4),
 ('15', '100-15', 'Pune', 32, 'Patheetic', 60000.0, 0),
 ('20', '200-250', 'Pune', 33, 'Bad', 10000.0, 4),
 ('45', '100-15', 'Mumbai', 34, 'Bad', 20000.0, 0),
 ('7', '100-15', 'Thane', 35, 'Excellent', 50000.0, 2),
 ('missing', '200-250', 'Mumbai', 36, 'Bad', 60000.0, 1),
 ('45', '250-300', 'Pune', 37, 'Good', 50000.0, 4),
 ('7', '200-250', 'Latur', 38, 'Good', 30000.0, 2),
 ('45', '100-15', 'Mumbai', 39, 'Good', 50000.0, 2),
 ('7', '250-300', 'Mumbai', 40, 'Good', 50000.0, 0),
 ('20', '100-15', 'Pune', 41, 'Bad', 60000.0, 4),
 ('missing', '100-15', 'Mumbai', 42, 'Patheetic', 30000.0, 3),
 ('20', '250-300', 'Thane', 43, 'Excellent', 30000.0, 0),
 ('12', '200-250', 'Thane', 44, 'Patheetic', nan, 4),
 ('20', '250-300', 'Pune', 45, 'Good', 10000.0, 0),
 ('15', '200-250', 'Mumbai', 46, 'Excellent', 20000.0, 2),
 ('20', '100-15', 'Mumbai', 47, 'Patheetic', 20000.0, 4),
 ('34', '200-250', 'Latur', 48, 'Excellent', 40000.0, 0),
 ('20', '150-200', 'Thane', 49, 'Excellent', 10000.0, 3)]

In [11]:
df=pd.DataFrame(data=mydata,columns=['age','fico','City','ID','rating','balance','children'])

In [12]:
df

        age     fico    City  ID     rating  balance  children
0        15  250-300  Mumbai   0        Bad  50000.0         2
1        15  200-250    Pune   1       Good      NaN         4
2        12   100-15   Latur   2       Good  20000.0         1
3        10  200-250   Thane   3  Patheetic  10000.0         1
4        10   100-15  Mumbai   4  Patheetic      NaN         1
5        20  150-200  Mumbai   5        Bad  40000.0         1
6        45  250-300   Thane   6  Excellent  60000.0         1
7        20  200-250   Latur   7  Excellent  10000.0         4
8         7  250-300  Mumbai   8  Excellent      NaN         2
9        15  250-300  Mumbai   9  Excellent  30000.0         1
10       12  250-300   Latur  10        Bad      NaN         4
11       34  200-250    Pune  11  Patheetic  10000.0         0
12       15  250-300   Thane  12       Good  50000.0         1
13       10  200-250    Pune  13       Good      NaN         3
14       15  200-250   Latur  14  Patheetic  60000.0         2
15       15  200-250   Thane  15        Bad      NaN         3
16       15  250-300    Pune  16  Patheetic  60000.0         1
17       20  150-200  Mumbai  17       Good  20000.0         3
18       45  250-300    Pune  18  Excellent  40000.0         3
19  missing  250-300  Mumbai  19  Patheetic      NaN         0
20       15  250-300    Pune  20       Good  10000.0         1
21       34  150-200   Thane  21  Patheetic  50000.0         2
22        7  250-300  Mumbai  22  Excellent      NaN         2
23       10  150-200  Mumbai  23  Excellent  10000.0         3
24  missing  200-250  Mumbai  24        Bad  50000.0         3
25        7   100-15   Latur  25  Patheetic  50000.0         3
26       10  150-200    Pune  26  Patheetic  40000.0         4
27       10  150-200  Mumbai  27  Excellent  60000.0         0
28       10  200-250  Mumbai  28  Excellent  10000.0         3
29       15  200-250   Thane  29        Bad  40000.0         2
30       45  250-300   Thane  30        Bad  40000.0         1
31  missing  250-300    Pune  31        Bad  20000.0         1
32       10  200-250   Latur  32  Patheetic  10000.0         2
33       20  150-200   Latur  33       Good  30000.0         3
34       34  150-200   Thane  34       Good  50000.0         0
35       10   100-15    Pune  35       Good  10000.0         3
36  missing   100-15    Pune  36  Excellent  40000.0         3
37       15   100-15  Mumbai  37       Good      NaN         3
38       45  250-300    Pune  38  Patheetic      NaN         0
39       15  250-300   Thane  39        Bad  50000.0         1
40       20   100-15   Latur  40       Good  30000.0         1
41  missing  200-250   Latur  41  Patheetic  40000.0         1
42        7  200-250   Latur  42  Excellent  10000.0         3
43        7  150-200   Latur  43  Excellent  50000.0         3
44        7  150-200    Pune  44  Patheetic  40000.0         3
45        7  250-300  Mumbai  45        Bad  50000.0         0
46       15  200-250  Mumbai  46       Good      NaN         3
47       12  250-300    Pune  47  Excellent  50000.0         3
48       34  200-250   Thane  48        Bad  40000.0         4
49        7   100-15    Pune  49        Bad  20000.0         4

In [13]:
df.dtypes

age          object
fico         object
City         object
ID            int32
rating       object
balance     float64
children      int32
dtype: object

In [14]:
df['age']=pd.to_numeric(df['age'], errors='coerce')

In [89]:
 df['age']

0      NaN
1      NaN
2     15.0
3     45.0
4      7.0
5      NaN
6     15.0
7     15.0
8     15.0
9     20.0
10    34.0
11    45.0
12    20.0
13     7.0
14    20.0
15    20.0
16    34.0
17    34.0
18    34.0
19    15.0
20    10.0
21    15.0
22    12.0
23    15.0
24    12.0
25    20.0
26    15.0
27    15.0
28    10.0
29    12.0
30     NaN
31    20.0
32    15.0
33    20.0
34    45.0
35     7.0
36     NaN
37    45.0
38     7.0
39    45.0
40     7.0
41    20.0
42     NaN
43    20.0
44    12.0
45    20.0
46    15.0
47    20.0
48    34.0
49    20.0
Name: age, dtype: float64

In [15]:
df['const_var']=100
df['balance_log']=np.log(df['balance'])
df['age_children_ratio']=df['age']/df['children']

In [16]:
df

,age,fico,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio
0,15.0,250-300,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000
1,15.0,200-250,Pune,1,Good,NaN,4,100,NaN,3.750000
2,12.0,100-15,Latur,2,Good,20000.0,1,100,9.903488,12.000000
3,10.0,200-250,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000
4,10.0,100-15,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000
5,20.0,150-200,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000
6,45.0,250-300,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000
7,20.0,200-250,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000
8,7.0,250-300,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000
9,15.0,250-300,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000
10,12.0,250-300,Latur,10,Bad,NaN,4,100,NaN,3.000000
11,34.0,200-250,Pune,11,Patheetic,10000.0,0,100,9.210340,inf
12,15.0,250-300,Thane,12,Good,50000.0,1,100,10.819778,15.000000
13,10.0,200-250,Pune,13,Good,NaN,3,100,NaN,3.333333
14,15.0,200-250,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000
15,15.0,200-250,Thane,15,Bad,NaN,3,100,NaN,5.000000
16,15.0,250-300,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000
17,20.0,150-200,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667
18,45.0,250-300,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000
19,NaN,250-300,Mumbai,19,Patheetic,NaN,0,100,NaN,NaN
20,15.0,250-300,Pune,20,Good,10000.0,1,100,9.210340,15.000000
21,34.0,150-200,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000
22,7.0,250-300,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000
23,10.0,150-200,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333
24,NaN,200-250,Mumbai,24,Bad,50000.0,3,100,10.819778,NaN
25,7.0,100-15,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333
26,10.0,150-200,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000
27,10.0,150-200,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf
28,10.0,200-250,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333
29,15.0,200-250,Thane,29,Bad,40000.0,2,100,10.596635,7.500000
30,45.0,250-300,Thane,30,Bad,40000.0,1,100,10.596635,45.000000
31,NaN,250-300,Pune,31,Bad,20000.0,1,100,9.903488,NaN
32,10.0,200-250,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000
33,20.0,150-200,Latur,33,Good,30000.0,3,100,10.308953,6.666667
34,34.0,150-200,Thane,34,Good,50000.0,0,100,10.819778,inf
35,10.0,100-15,Pune,35,Good,10000.0,3,100,9.210340,3.333333
36,NaN,100-15,Pune,36,Excellent,40000.0,3,100,10.596635,NaN
37,15.0,100-15,Mumbai,37,Good,NaN,3,100,NaN,5.000000
38,45.0,250-300,Pune,38,Patheetic,NaN,0,100,NaN,inf
39,15.0,250-300,Thane,39,Bad,50000.0,1,100,10.819778,15.000000
40,20.0,100-15,Latur,40,Good,30000.0,1,100,10.308953,20.000000
41,NaN,200-250,Latur,41,Patheetic,40000.0,1,100,10.596635,NaN
42,7.0,200-250,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333
43,7.0,150-200,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333
44,7.0,150-200,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333
45,7.0,250-300,Mumbai,45,Bad,50000.0,0,100,10.819778,inf
46,15.0,200-250,Mumbai,46,Good,NaN,3,100,NaN,5.000000
47,12.0,250-300,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000
48,34.0,200-250,Thane,48,Bad,40000.0,4,100,10.596635,8.500000
49,7.0,100-15,Pune,49,Bad,20000.0,4,100,9.903488,1.750000

In [55]:
df['age'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: age, dtype: bool

In [18]:
df['age'].isnull().sum()

5

In [19]:
df['age'].mean()

17.288888888888888

In [20]:
df.loc[df['age'].isnull(),'age']=df['age'].mean()

In [21]:
df['age_children_ratio']=df['age']/df['children']

In [22]:
df

,age,fico,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio
0,15.000000,250-300,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000
1,15.000000,200-250,Pune,1,Good,NaN,4,100,NaN,3.750000
2,12.000000,100-15,Latur,2,Good,20000.0,1,100,9.903488,12.000000
3,10.000000,200-250,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000
4,10.000000,100-15,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000
5,20.000000,150-200,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000
6,45.000000,250-300,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000
7,20.000000,200-250,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000
8,7.000000,250-300,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000
9,15.000000,250-300,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000
10,12.000000,250-300,Latur,10,Bad,NaN,4,100,NaN,3.000000
11,34.000000,200-250,Pune,11,Patheetic,10000.0,0,100,9.210340,inf
12,15.000000,250-300,Thane,12,Good,50000.0,1,100,10.819778,15.000000
13,10.000000,200-250,Pune,13,Good,NaN,3,100,NaN,3.333333
14,15.000000,200-250,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000
15,15.000000,200-250,Thane,15,Bad,NaN,3,100,NaN,5.000000
16,15.000000,250-300,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000
17,20.000000,150-200,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667
18,45.000000,250-300,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000
19,17.288889,250-300,Mumbai,19,Patheetic,NaN,0,100,NaN,inf
20,15.000000,250-300,Pune,20,Good,10000.0,1,100,9.210340,15.000000
21,34.000000,150-200,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000
22,7.000000,250-300,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000
23,10.000000,150-200,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333
24,17.288889,200-250,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963
25,7.000000,100-15,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333
26,10.000000,150-200,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000
27,10.000000,150-200,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf
28,10.000000,200-250,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333
29,15.000000,200-250,Thane,29,Bad,40000.0,2,100,10.596635,7.500000
30,45.000000,250-300,Thane,30,Bad,40000.0,1,100,10.596635,45.000000
31,17.288889,250-300,Pune,31,Bad,20000.0,1,100,9.903488,17.288889
32,10.000000,200-250,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000
33,20.000000,150-200,Latur,33,Good,30000.0,3,100,10.308953,6.666667
34,34.000000,150-200,Thane,34,Good,50000.0,0,100,10.819778,inf
35,10.000000,100-15,Pune,35,Good,10000.0,3,100,9.210340,3.333333
36,17.288889,100-15,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963
37,15.000000,100-15,Mumbai,37,Good,NaN,3,100,NaN,5.000000
38,45.000000,250-300,Pune,38,Patheetic,NaN,0,100,NaN,inf
39,15.000000,250-300,Thane,39,Bad,50000.0,1,100,10.819778,15.000000
40,20.000000,100-15,Latur,40,Good,30000.0,1,100,10.308953,20.000000
41,17.288889,200-250,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889
42,7.000000,200-250,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333
43,7.000000,150-200,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333
44,7.000000,150-200,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333
45,7.000000,250-300,Mumbai,45,Bad,50000.0,0,100,10.819778,inf
46,15.000000,200-250,Mumbai,46,Good,NaN,3,100,NaN,5.000000
47,12.000000,250-300,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000
48,34.000000,200-250,Thane,48,Bad,40000.0,4,100,10.596635,8.500000
49,7.000000,100-15,Pune,49,Bad,20000.0,4,100,9.903488,1.750000

In [23]:
df['rating_score']=np.where(df['rating'].isin(['Good','Excellent']),1,0)

In [113]:
df

,age,fico,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score
0,20.522727,200-250,Thane,0,Bad,NaN,1,100,NaN,20.522727,0
1,20.522727,150-200,Latur,1,Patheetic,20000.0,2,100,9.903488,10.261364,0
2,15.000000,250-300,Thane,2,Bad,60000.0,0,100,11.002100,inf,0
3,45.000000,200-250,Pune,3,Bad,NaN,2,100,NaN,22.500000,0
4,7.000000,200-250,Mumbai,4,Patheetic,30000.0,0,100,10.308953,inf,0
5,20.522727,100-15,Latur,5,Bad,50000.0,2,100,10.819778,10.261364,0
6,15.000000,100-15,Mumbai,6,Excellent,20000.0,1,100,9.903488,15.000000,1
7,15.000000,200-250,Pune,7,Bad,40000.0,1,100,10.596635,15.000000,0
8,15.000000,150-200,Thane,8,Patheetic,50000.0,1,100,10.819778,15.000000,0
9,20.000000,150-200,Latur,9,Excellent,60000.0,1,100,11.002100,20.000000,1
10,34.000000,100-15,Mumbai,10,Excellent,40000.0,0,100,10.596635,inf,1
11,45.000000,250-300,Pune,11,Good,40000.0,4,100,10.596635,11.250000,1
12,20.000000,200-250,Mumbai,12,Patheetic,60000.0,4,100,11.002100,5.000000,0
13,7.000000,150-200,Pune,13,Patheetic,60000.0,0,100,11.002100,inf,0
14,20.000000,250-300,Thane,14,Good,60000.0,2,100,11.002100,10.000000,1
15,20.000000,150-200,Latur,15,Excellent,NaN,0,100,NaN,inf,1
16,34.000000,200-250,Mumbai,16,Excellent,NaN,2,100,NaN,17.000000,1
17,34.000000,200-250,Mumbai,17,Patheetic,40000.0,2,100,10.596635,17.000000,0
18,34.000000,250-300,Pune,18,Good,60000.0,0,100,11.002100,inf,1
19,15.000000,150-200,Pune,19,Bad,10000.0,3,100,9.210340,5.000000,0
20,10.000000,100-15,Thane,20,Good,30000.0,2,100,10.308953,5.000000,1
21,15.000000,250-300,Latur,21,Good,10000.0,0,100,9.210340,inf,1
22,12.000000,250-300,Mumbai,22,Excellent,60000.0,0,100,11.002100,inf,1
23,15.000000,250-300,Pune,23,Patheetic,10000.0,0,100,9.210340,inf,0
24,12.000000,200-250,Pune,24,Excellent,20000.0,0,100,9.903488,inf,1
25,20.000000,100-15,Pune,25,Bad,20000.0,2,100,9.903488,10.000000,0
26,15.000000,200-250,Pune,26,Patheetic,50000.0,3,100,10.819778,5.000000,0
27,15.000000,250-300,Mumbai,27,Bad,20000.0,2,100,9.903488,7.500000,0
28,10.000000,150-200,Pune,28,Patheetic,60000.0,2,100,11.002100,5.000000,0
29,12.000000,150-200,Mumbai,29,Patheetic,40000.0,2,100,10.596635,6.000000,0
30,20.522727,150-200,Mumbai,30,Patheetic,10000.0,3,100,9.210340,6.840909,0
31,20.000000,200-250,Latur,31,Patheetic,40000.0,4,100,10.596635,5.000000,0
32,15.000000,100-15,Pune,32,Patheetic,60000.0,0,100,11.002100,inf,0
33,20.000000,200-250,Pune,33,Bad,10000.0,4,100,9.210340,5.000000,0
34,45.000000,100-15,Mumbai,34,Bad,20000.0,0,100,9.903488,inf,0
35,7.000000,100-15,Thane,35,Excellent,50000.0,2,100,10.819778,3.500000,1
36,20.522727,200-250,Mumbai,36,Bad,60000.0,1,100,11.002100,20.522727,0
37,45.000000,250-300,Pune,37,Good,50000.0,4,100,10.819778,11.250000,1
38,7.000000,200-250,Latur,38,Good,30000.0,2,100,10.308953,3.500000,1
39,45.000000,100-15,Mumbai,39,Good,50000.0,2,100,10.819778,22.500000,1
40,7.000000,250-300,Mumbai,40,Good,50000.0,0,100,10.819778,inf,1
41,20.000000,100-15,Pune,41,Bad,60000.0,4,100,11.002100,5.000000,0
42,20.522727,100-15,Mumbai,42,Patheetic,30000.0,3,100,10.308953,6.840909,0
43,20.000000,250-300,Thane,43,Excellent,30000.0,0,100,10.308953,inf,1
44,12.000000,200-250,Thane,44,Patheetic,NaN,4,100,NaN,3.000000,0
45,20.000000,250-300,Pune,45,Good,10000.0,0,100,9.210340,inf,1
46,15.000000,200-250,Mumbai,46,Excellent,20000.0,2,100,9.903488,7.500000,1
47,20.000000,100-15,Mumbai,47,Patheetic,20000.0,4,100,9.903488,5.000000,0
48,34.000000,200-250,Latur,48,Excellent,40000.0,0,100,10.596635,inf,1
49,20.000000,150-200,Thane,49,Excellent,10000.0,3,100,9.210340,6.666667,1

In [24]:
df.loc[df['rating']=='Patheetic','rating_score']=-1

In [120]:
df

,age,fico,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score
0,20.522727,200-250,Thane,0,Bad,NaN,1,100,NaN,20.522727,0
1,20.522727,150-200,Latur,1,Patheetic,20000.0,2,100,9.903488,10.261364,-1
2,15.000000,250-300,Thane,2,Bad,60000.0,0,100,11.002100,inf,0
3,45.000000,200-250,Pune,3,Bad,NaN,2,100,NaN,22.500000,0
4,7.000000,200-250,Mumbai,4,Patheetic,30000.0,0,100,10.308953,inf,-1
5,20.522727,100-15,Latur,5,Bad,50000.0,2,100,10.819778,10.261364,0
6,15.000000,100-15,Mumbai,6,Excellent,20000.0,1,100,9.903488,15.000000,1
7,15.000000,200-250,Pune,7,Bad,40000.0,1,100,10.596635,15.000000,0
8,15.000000,150-200,Thane,8,Patheetic,50000.0,1,100,10.819778,15.000000,-1
9,20.000000,150-200,Latur,9,Excellent,60000.0,1,100,11.002100,20.000000,1
10,34.000000,100-15,Mumbai,10,Excellent,40000.0,0,100,10.596635,inf,1
11,45.000000,250-300,Pune,11,Good,40000.0,4,100,10.596635,11.250000,1
12,20.000000,200-250,Mumbai,12,Patheetic,60000.0,4,100,11.002100,5.000000,-1
13,7.000000,150-200,Pune,13,Patheetic,60000.0,0,100,11.002100,inf,-1
14,20.000000,250-300,Thane,14,Good,60000.0,2,100,11.002100,10.000000,1
15,20.000000,150-200,Latur,15,Excellent,NaN,0,100,NaN,inf,1
16,34.000000,200-250,Mumbai,16,Excellent,NaN,2,100,NaN,17.000000,1
17,34.000000,200-250,Mumbai,17,Patheetic,40000.0,2,100,10.596635,17.000000,-1
18,34.000000,250-300,Pune,18,Good,60000.0,0,100,11.002100,inf,1
19,15.000000,150-200,Pune,19,Bad,10000.0,3,100,9.210340,5.000000,0
20,10.000000,100-15,Thane,20,Good,30000.0,2,100,10.308953,5.000000,1
21,15.000000,250-300,Latur,21,Good,10000.0,0,100,9.210340,inf,1
22,12.000000,250-300,Mumbai,22,Excellent,60000.0,0,100,11.002100,inf,1
23,15.000000,250-300,Pune,23,Patheetic,10000.0,0,100,9.210340,inf,-1
24,12.000000,200-250,Pune,24,Excellent,20000.0,0,100,9.903488,inf,1
25,20.000000,100-15,Pune,25,Bad,20000.0,2,100,9.903488,10.000000,0
26,15.000000,200-250,Pune,26,Patheetic,50000.0,3,100,10.819778,5.000000,-1
27,15.000000,250-300,Mumbai,27,Bad,20000.0,2,100,9.903488,7.500000,0
28,10.000000,150-200,Pune,28,Patheetic,60000.0,2,100,11.002100,5.000000,-1
29,12.000000,150-200,Mumbai,29,Patheetic,40000.0,2,100,10.596635,6.000000,-1
30,20.522727,150-200,Mumbai,30,Patheetic,10000.0,3,100,9.210340,6.840909,-1
31,20.000000,200-250,Latur,31,Patheetic,40000.0,4,100,10.596635,5.000000,-1
32,15.000000,100-15,Pune,32,Patheetic,60000.0,0,100,11.002100,inf,-1
33,20.000000,200-250,Pune,33,Bad,10000.0,4,100,9.210340,5.000000,0
34,45.000000,100-15,Mumbai,34,Bad,20000.0,0,100,9.903488,inf,0
35,7.000000,100-15,Thane,35,Excellent,50000.0,2,100,10.819778,3.500000,1
36,20.522727,200-250,Mumbai,36,Bad,60000.0,1,100,11.002100,20.522727,0
37,45.000000,250-300,Pune,37,Good,50000.0,4,100,10.819778,11.250000,1
38,7.000000,200-250,Latur,38,Good,30000.0,2,100,10.308953,3.500000,1
39,45.000000,100-15,Mumbai,39,Good,50000.0,2,100,10.819778,22.500000,1
40,7.000000,250-300,Mumbai,40,Good,50000.0,0,100,10.819778,inf,1
41,20.000000,100-15,Pune,41,Bad,60000.0,4,100,11.002100,5.000000,0
42,20.522727,100-15,Mumbai,42,Patheetic,30000.0,3,100,10.308953,6.840909,-1
43,20.000000,250-300,Thane,43,Excellent,30000.0,0,100,10.308953,inf,1
44,12.000000,200-250,Thane,44,Patheetic,NaN,4,100,NaN,3.000000,-1
45,20.000000,250-300,Pune,45,Good,10000.0,0,100,9.210340,inf,1
46,15.000000,200-250,Mumbai,46,Excellent,20000.0,2,100,9.903488,7.500000,1
47,20.000000,100-15,Mumbai,47,Patheetic,20000.0,4,100,9.903488,5.000000,-1
48,34.000000,200-250,Latur,48,Excellent,40000.0,0,100,10.596635,inf,1
49,20.000000,150-200,Thane,49,Excellent,10000.0,3,100,9.210340,6.666667,1

In [25]:
df['fico'].split('-')

AttributeError: 'Series' object has no attribute 'split'

In [26]:
df['fico'].str.split('-',expand=True)

      0    1
0   250  300
1   200  250
2   100   15
3   200  250
4   100   15
5   150  200
6   250  300
7   200  250
8   250  300
9   250  300
10  250  300
11  200  250
12  250  300
13  200  250
14  200  250
15  200  250
16  250  300
17  150  200
18  250  300
19  250  300
20  250  300
21  150  200
22  250  300
23  150  200
24  200  250
25  100   15
26  150  200
27  150  200
28  200  250
29  200  250
30  250  300
31  250  300
32  200  250
33  150  200
34  150  200
35  100   15
36  100   15
37  100   15
38  250  300
39  250  300
40  100   15
41  200  250
42  200  250
43  150  200
44  150  200
45  250  300
46  200  250
47  250  300
48  200  250
49  100   15

In [27]:
k=df['fico'].str.split('-',expand=True).astype(float)

In [28]:
k[0]

0     250.0
1     200.0
2     100.0
3     200.0
4     100.0
5     150.0
6     250.0
7     200.0
8     250.0
9     250.0
10    250.0
11    200.0
12    250.0
13    200.0
14    200.0
15    200.0
16    250.0
17    150.0
18    250.0
19    250.0
20    250.0
21    150.0
22    250.0
23    150.0
24    200.0
25    100.0
26    150.0
27    150.0
28    200.0
29    200.0
30    250.0
31    250.0
32    200.0
33    150.0
34    150.0
35    100.0
36    100.0
37    100.0
38    250.0
39    250.0
40    100.0
41    200.0
42    200.0
43    150.0
44    150.0
45    250.0
46    200.0
47    250.0
48    200.0
49    100.0
Name: 0, dtype: float64

In [29]:
k[1]

0     300.0
1     250.0
2      15.0
3     250.0
4      15.0
5     200.0
6     300.0
7     250.0
8     300.0
9     300.0
10    300.0
11    250.0
12    300.0
13    250.0
14    250.0
15    250.0
16    300.0
17    200.0
18    300.0
19    300.0
20    300.0
21    200.0
22    300.0
23    200.0
24    250.0
25     15.0
26    200.0
27    200.0
28    250.0
29    250.0
30    300.0
31    300.0
32    250.0
33    200.0
34    200.0
35     15.0
36     15.0
37     15.0
38    300.0
39    300.0
40     15.0
41    250.0
42    250.0
43    200.0
44    200.0
45    300.0
46    250.0
47    300.0
48    250.0
49     15.0
Name: 1, dtype: float64

In [30]:
del df['fico']

In [31]:
df

,age,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score
0,15.000000,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000,0
1,15.000000,Pune,1,Good,NaN,4,100,NaN,3.750000,1
2,12.000000,Latur,2,Good,20000.0,1,100,9.903488,12.000000,1
3,10.000000,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1
4,10.000000,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000,-1
5,20.000000,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000,0
6,45.000000,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000,1
7,20.000000,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000,1
8,7.000000,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000,1
9,15.000000,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000,1
10,12.000000,Latur,10,Bad,NaN,4,100,NaN,3.000000,0
11,34.000000,Pune,11,Patheetic,10000.0,0,100,9.210340,inf,-1
12,15.000000,Thane,12,Good,50000.0,1,100,10.819778,15.000000,1
13,10.000000,Pune,13,Good,NaN,3,100,NaN,3.333333,1
14,15.000000,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1
15,15.000000,Thane,15,Bad,NaN,3,100,NaN,5.000000,0
16,15.000000,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1
17,20.000000,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667,1
18,45.000000,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000,1
19,17.288889,Mumbai,19,Patheetic,NaN,0,100,NaN,inf,-1
20,15.000000,Pune,20,Good,10000.0,1,100,9.210340,15.000000,1
21,34.000000,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1
22,7.000000,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000,1
23,10.000000,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333,1
24,17.288889,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963,0
25,7.000000,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1
26,10.000000,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1
27,10.000000,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf,1
28,10.000000,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333,1
29,15.000000,Thane,29,Bad,40000.0,2,100,10.596635,7.500000,0
30,45.000000,Thane,30,Bad,40000.0,1,100,10.596635,45.000000,0
31,17.288889,Pune,31,Bad,20000.0,1,100,9.903488,17.288889,0
32,10.000000,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1
33,20.000000,Latur,33,Good,30000.0,3,100,10.308953,6.666667,1
34,34.000000,Thane,34,Good,50000.0,0,100,10.819778,inf,1
35,10.000000,Pune,35,Good,10000.0,3,100,9.210340,3.333333,1
36,17.288889,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963,1
37,15.000000,Mumbai,37,Good,NaN,3,100,NaN,5.000000,1
38,45.000000,Pune,38,Patheetic,NaN,0,100,NaN,inf,-1
39,15.000000,Thane,39,Bad,50000.0,1,100,10.819778,15.000000,0
40,20.000000,Latur,40,Good,30000.0,1,100,10.308953,20.000000,1
41,17.288889,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1
42,7.000000,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333,1
43,7.000000,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333,1
44,7.000000,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1
45,7.000000,Mumbai,45,Bad,50000.0,0,100,10.819778,inf,0
46,15.000000,Mumbai,46,Good,NaN,3,100,NaN,5.000000,1
47,12.000000,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000,1
48,34.000000,Thane,48,Bad,40000.0,4,100,10.596635,8.500000,0
49,7.000000,Pune,49,Bad,20000.0,4,100,9.903488,1.750000,0

In [32]:
df['f1'],df['f2']=k[0],k[1]

In [33]:
df

,age,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2
0,15.000000,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0
1,15.000000,Pune,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0
2,12.000000,Latur,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0
3,10.000000,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0
4,10.000000,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0
5,20.000000,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0
6,45.000000,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0
7,20.000000,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0
8,7.000000,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0
9,15.000000,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0
10,12.000000,Latur,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0
11,34.000000,Pune,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0
12,15.000000,Thane,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0
13,10.000000,Pune,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0
14,15.000000,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0
15,15.000000,Thane,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0
16,15.000000,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0
17,20.000000,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0
18,45.000000,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0
19,17.288889,Mumbai,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0
20,15.000000,Pune,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0
21,34.000000,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0
22,7.000000,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0
23,10.000000,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0
24,17.288889,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0
25,7.000000,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0
26,10.000000,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0
27,10.000000,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0
28,10.000000,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0
29,15.000000,Thane,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0
30,45.000000,Thane,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0
31,17.288889,Pune,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0
32,10.000000,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0
33,20.000000,Latur,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0
34,34.000000,Thane,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0
35,10.000000,Pune,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0
36,17.288889,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0
37,15.000000,Mumbai,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0
38,45.000000,Pune,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0
39,15.000000,Thane,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0
40,20.000000,Latur,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0
41,17.288889,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0
42,7.000000,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0
43,7.000000,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0
44,7.000000,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0
45,7.000000,Mumbai,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0
46,15.000000,Mumbai,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0
47,12.000000,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0
48,34.000000,Thane,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0
49,7.000000,Pune,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0

In [34]:
df['city_mumbai']=np.where(df['City']=='Mumbai',1,0)

In [35]:
df

,age,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai
0,15.000000,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1
1,15.000000,Pune,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0,0
2,12.000000,Latur,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0
3,10.000000,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0
4,10.000000,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1
5,20.000000,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1
6,45.000000,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0
7,20.000000,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0
8,7.000000,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1
9,15.000000,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1
10,12.000000,Latur,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0,0
11,34.000000,Pune,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0
12,15.000000,Thane,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0
13,10.000000,Pune,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0,0
14,15.000000,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0
15,15.000000,Thane,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0,0
16,15.000000,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0
17,20.000000,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1
18,45.000000,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0
19,17.288889,Mumbai,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,1
20,15.000000,Pune,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0
21,34.000000,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0
22,7.000000,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1
23,10.000000,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1
24,17.288889,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1
25,7.000000,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0
26,10.000000,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0
27,10.000000,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0,1
28,10.000000,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1
29,15.000000,Thane,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0
30,45.000000,Thane,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0
31,17.288889,Pune,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0
32,10.000000,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0
33,20.000000,Latur,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0
34,34.000000,Thane,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0,0
35,10.000000,Pune,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0
36,17.288889,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0
37,15.000000,Mumbai,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0,1
38,45.000000,Pune,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,0
39,15.000000,Thane,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0
40,20.000000,Latur,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0
41,17.288889,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0
42,7.000000,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0
43,7.000000,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0
44,7.000000,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0
45,7.000000,Mumbai,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0,1
46,15.000000,Mumbai,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0,1
47,12.000000,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0
48,34.000000,Thane,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0
49,7.000000,Pune,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0

In [36]:
df['City']=='Mumbai'

0      True
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20    False
21    False
22     True
23     True
24     True
25    False
26    False
27     True
28     True
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46     True
47    False
48    False
49    False
Name: City, dtype: bool

In [37]:
(df['City']=='Thane')

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30     True
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38    False
39     True
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49    False
Name: City, dtype: bool

In [38]:
df['City_thane']=(df['City']=='Thane').astype(int)

In [39]:
df

,age,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai,City_thane
0,15.000000,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1,0
1,15.000000,Pune,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0,0,0
2,12.000000,Latur,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0,0
3,10.000000,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0,1
4,10.000000,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1,0
5,20.000000,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1,0
6,45.000000,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0,1
7,20.000000,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0,0
8,7.000000,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0
9,15.000000,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1,0
10,12.000000,Latur,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0
11,34.000000,Pune,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0,0
12,15.000000,Thane,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0,1
13,10.000000,Pune,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0,0,0
14,15.000000,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0,0
15,15.000000,Thane,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0,0,1
16,15.000000,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0,0
17,20.000000,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1,0
18,45.000000,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0,0
19,17.288889,Mumbai,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,1,0
20,15.000000,Pune,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0,0
21,34.000000,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0,1
22,7.000000,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0
23,10.000000,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1,0
24,17.288889,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1,0
25,7.000000,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0,0
26,10.000000,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0,0
27,10.000000,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0,1,0
28,10.000000,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1,0
29,15.000000,Thane,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0,1
30,45.000000,Thane,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0,1
31,17.288889,Pune,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0,0
32,10.000000,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0,0
33,20.000000,Latur,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0,0
34,34.000000,Thane,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0,0,1
35,10.000000,Pune,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0,0
36,17.288889,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0,0
37,15.000000,Mumbai,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0,1,0
38,45.000000,Pune,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,0,0
39,15.000000,Thane,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0,1
40,20.000000,Latur,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0,0
41,17.288889,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0,0
42,7.000000,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0,0
43,7.000000,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0,0
44,7.000000,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0,0
45,7.000000,Mumbai,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0,1,0
46,15.000000,Mumbai,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0,1,0
47,12.000000,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0,0
48,34.000000,Thane,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0,1
49,7.000000,Pune,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0,0

In [41]:
df['city_pune']=np.where(df['City']=='Pune',1,0)

In [43]:
df['city_Latur']=np.where(df['City']=='Latur',1,0)

In [44]:
df

,age,City,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai,City_thane,city_pune,city_Latur
0,15.000000,Mumbai,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1,0,0,0
1,15.000000,Pune,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0,0,0,1,0
2,12.000000,Latur,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0,0,0,1
3,10.000000,Thane,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0,1,0,0
4,10.000000,Mumbai,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1,0,0,0
5,20.000000,Mumbai,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1,0,0,0
6,45.000000,Thane,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0,1,0,0
7,20.000000,Latur,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0,0,0,1
8,7.000000,Mumbai,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0
9,15.000000,Mumbai,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1,0,0,0
10,12.000000,Latur,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0,0,1
11,34.000000,Pune,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0,0,1,0
12,15.000000,Thane,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0,1,0,0
13,10.000000,Pune,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0,0,0,1,0
14,15.000000,Latur,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0,0,0,1
15,15.000000,Thane,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0,0,1,0,0
16,15.000000,Pune,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0,0,1,0
17,20.000000,Mumbai,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1,0,0,0
18,45.000000,Pune,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0,0,1,0
19,17.288889,Mumbai,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,1,0,0,0
20,15.000000,Pune,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0,0,1,0
21,34.000000,Thane,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0,1,0,0
22,7.000000,Mumbai,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0
23,10.000000,Mumbai,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1,0,0,0
24,17.288889,Mumbai,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1,0,0,0
25,7.000000,Latur,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0,0,0,1
26,10.000000,Pune,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0,0,1,0
27,10.000000,Mumbai,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0,1,0,0,0
28,10.000000,Mumbai,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1,0,0,0
29,15.000000,Thane,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0,1,0,0
30,45.000000,Thane,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0,1,0,0
31,17.288889,Pune,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0,0,1,0
32,10.000000,Latur,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0,0,0,1
33,20.000000,Latur,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0,0,0,1
34,34.000000,Thane,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0,0,1,0,0
35,10.000000,Pune,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0,0,1,0
36,17.288889,Pune,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0,0,1,0
37,15.000000,Mumbai,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0,1,0,0,0
38,45.000000,Pune,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,0,0,1,0
39,15.000000,Thane,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0,1,0,0
40,20.000000,Latur,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0,0,0,1
41,17.288889,Latur,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0,0,0,1
42,7.000000,Latur,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0,0,0,1
43,7.000000,Latur,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0,0,0,1
44,7.000000,Pune,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0,0,1,0
45,7.000000,Mumbai,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0,1,0,0,0
46,15.000000,Mumbai,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0,1,0,0,0
47,12.000000,Pune,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0,0,1,0
48,34.000000,Thane,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0,1,0,0
49,7.000000,Pune,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0,0,1,0

In [45]:
del df['City']

In [46]:
df

,age,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai,City_thane,city_pune,city_Latur
0,15.000000,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1,0,0,0
1,15.000000,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0,0,0,1,0
2,12.000000,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0,0,0,1
3,10.000000,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0,1,0,0
4,10.000000,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1,0,0,0
5,20.000000,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1,0,0,0
6,45.000000,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0,1,0,0
7,20.000000,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0,0,0,1
8,7.000000,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0
9,15.000000,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1,0,0,0
10,12.000000,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0,0,1
11,34.000000,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0,0,1,0
12,15.000000,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0,1,0,0
13,10.000000,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0,0,0,1,0
14,15.000000,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0,0,0,1
15,15.000000,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0,0,1,0,0
16,15.000000,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0,0,1,0
17,20.000000,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1,0,0,0
18,45.000000,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0,0,1,0
19,17.288889,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,1,0,0,0
20,15.000000,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0,0,1,0
21,34.000000,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0,1,0,0
22,7.000000,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0
23,10.000000,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1,0,0,0
24,17.288889,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1,0,0,0
25,7.000000,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0,0,0,1
26,10.000000,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0,0,1,0
27,10.000000,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0,1,0,0,0
28,10.000000,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1,0,0,0
29,15.000000,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0,1,0,0
30,45.000000,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0,1,0,0
31,17.288889,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0,0,1,0
32,10.000000,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0,0,0,1
33,20.000000,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0,0,0,1
34,34.000000,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0,0,1,0,0
35,10.000000,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0,0,1,0
36,17.288889,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0,0,1,0
37,15.000000,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0,1,0,0,0
38,45.000000,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,0,0,1,0
39,15.000000,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0,1,0,0
40,20.000000,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0,0,0,1
41,17.288889,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0,0,0,1
42,7.000000,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0,0,0,1
43,7.000000,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0,0,0,1
44,7.000000,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0,0,1,0
45,7.000000,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0,1,0,0,0
46,15.000000,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0,1,0,0,0
47,12.000000,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0,0,1,0
48,34.000000,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0,1,0,0
49,7.000000,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0,0,1,0

In [49]:
 dummy=pd.get_dummies(df['rating'],drop_first=True,prefix='rating')

In [50]:
dummy

    rating_Excellent  rating_Good  rating_Patheetic
0                  0            0                 0
1                  0            1                 0
2                  0            1                 0
3                  0            0                 1
4                  0            0                 1
5                  0            0                 0
6                  1            0                 0
7                  1            0                 0
8                  1            0                 0
9                  1            0                 0
10                 0            0                 0
11                 0            0                 1
12                 0            1                 0
13                 0            1                 0
14                 0            0                 1
15                 0            0                 0
16                 0            0                 1
17                 0            1                 0
18                 1            0                 0
19                 0            0                 1
20                 0            1                 0
21                 0            0                 1
22                 1            0                 0
23                 1            0                 0
24                 0            0                 0
25                 0            0                 1
26                 0            0                 1
27                 1            0                 0
28                 1            0                 0
29                 0            0                 0
30                 0            0                 0
31                 0            0                 0
32                 0            0                 1
33                 0            1                 0
34                 0            1                 0
35                 0            1                 0
36                 1            0                 0
37                 0            1                 0
38                 0            0                 1
39                 0            0                 0
40                 0            1                 0
41                 0            0                 1
42                 1            0                 0
43                 1            0                 0
44                 0            0                 1
45                 0            0                 0
46                 0            1                 0
47                 1            0                 0
48                 0            0                 0
49                 0            0                 0

In [51]:
df=pd.concat([df,dummy],axis=1)

In [52]:
df

,age,ID,rating,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai,City_thane,city_pune,city_Latur,rating_Excellent,rating_Good,rating_Patheetic
0,15.000000,0,Bad,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1,0,0,0,0,0,0
1,15.000000,1,Good,NaN,4,100,NaN,3.750000,1,200.0,250.0,0,0,1,0,0,1,0
2,12.000000,2,Good,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0,0,0,1,0,1,0
3,10.000000,3,Patheetic,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0,1,0,0,0,0,1
4,10.000000,4,Patheetic,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1,0,0,0,0,0,1
5,20.000000,5,Bad,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1,0,0,0,0,0,0
6,45.000000,6,Excellent,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0,1,0,0,1,0,0
7,20.000000,7,Excellent,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0,0,0,1,1,0,0
8,7.000000,8,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0,1,0,0
9,15.000000,9,Excellent,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1,0,0,0,1,0,0
10,12.000000,10,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0,0,1,0,0,0
11,34.000000,11,Patheetic,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0,0,1,0,0,0,1
12,15.000000,12,Good,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0,1,0,0,0,1,0
13,10.000000,13,Good,NaN,3,100,NaN,3.333333,1,200.0,250.0,0,0,1,0,0,1,0
14,15.000000,14,Patheetic,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0,0,0,1,0,0,1
15,15.000000,15,Bad,NaN,3,100,NaN,5.000000,0,200.0,250.0,0,1,0,0,0,0,0
16,15.000000,16,Patheetic,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0,0,1,0,0,0,1
17,20.000000,17,Good,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1,0,0,0,0,1,0
18,45.000000,18,Excellent,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0,0,1,0,1,0,0
19,17.288889,19,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,1,0,0,0,0,0,1
20,15.000000,20,Good,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0,0,1,0,0,1,0
21,34.000000,21,Patheetic,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0,1,0,0,0,0,1
22,7.000000,22,Excellent,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0,1,0,0
23,10.000000,23,Excellent,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1,0,0,0,1,0,0
24,17.288889,24,Bad,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1,0,0,0,0,0,0
25,7.000000,25,Patheetic,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0,0,0,1,0,0,1
26,10.000000,26,Patheetic,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0,0,1,0,0,0,1
27,10.000000,27,Excellent,60000.0,0,100,11.002100,inf,1,150.0,200.0,1,0,0,0,1,0,0
28,10.000000,28,Excellent,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1,0,0,0,1,0,0
29,15.000000,29,Bad,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0,1,0,0,0,0,0
30,45.000000,30,Bad,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0,1,0,0,0,0,0
31,17.288889,31,Bad,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0,0,1,0,0,0,0
32,10.000000,32,Patheetic,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0,0,0,1,0,0,1
33,20.000000,33,Good,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0,0,0,1,0,1,0
34,34.000000,34,Good,50000.0,0,100,10.819778,inf,1,150.0,200.0,0,1,0,0,0,1,0
35,10.000000,35,Good,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0,0,1,0,0,1,0
36,17.288889,36,Excellent,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0,0,1,0,1,0,0
37,15.000000,37,Good,NaN,3,100,NaN,5.000000,1,100.0,15.0,1,0,0,0,0,1,0
38,45.000000,38,Patheetic,NaN,0,100,NaN,inf,-1,250.0,300.0,0,0,1,0,0,0,1
39,15.000000,39,Bad,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0,1,0,0,0,0,0
40,20.000000,40,Good,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0,0,0,1,0,1,0
41,17.288889,41,Patheetic,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0,0,0,1,0,0,1
42,7.000000,42,Excellent,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0,0,0,1,1,0,0
43,7.000000,43,Excellent,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0,0,0,1,1,0,0
44,7.000000,44,Patheetic,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0,0,1,0,0,0,1
45,7.000000,45,Bad,50000.0,0,100,10.819778,inf,0,250.0,300.0,1,0,0,0,0,0,0
46,15.000000,46,Good,NaN,3,100,NaN,5.000000,1,200.0,250.0,1,0,0,0,0,1,0
47,12.000000,47,Excellent,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0,0,1,0,1,0,0
48,34.000000,48,Bad,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0,1,0,0,0,0,0
49,7.000000,49,Bad,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0,0,1,0,0,0,0

In [53]:
del df['rating']

In [54]:
df

,age,ID,balance,children,const_var,balance_log,age_children_ratio,rating_score,f1,f2,city_mumbai,City_thane,city_pune,city_Latur,rating_Excellent,rating_Good,rating_Patheetic
0,15.000000,0,50000.0,2,100,10.819778,7.500000,0,250.0,300.0,1,0,0,0,0,0,0
1,15.000000,1,NaN,4,100,NaN,3.750000,1,200.0,250.0,0,0,1,0,0,1,0
2,12.000000,2,20000.0,1,100,9.903488,12.000000,1,100.0,15.0,0,0,0,1,0,1,0
3,10.000000,3,10000.0,1,100,9.210340,10.000000,-1,200.0,250.0,0,1,0,0,0,0,1
4,10.000000,4,NaN,1,100,NaN,10.000000,-1,100.0,15.0,1,0,0,0,0,0,1
5,20.000000,5,40000.0,1,100,10.596635,20.000000,0,150.0,200.0,1,0,0,0,0,0,0
6,45.000000,6,60000.0,1,100,11.002100,45.000000,1,250.0,300.0,0,1,0,0,1,0,0
7,20.000000,7,10000.0,4,100,9.210340,5.000000,1,200.0,250.0,0,0,0,1,1,0,0
8,7.000000,8,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0,1,0,0
9,15.000000,9,30000.0,1,100,10.308953,15.000000,1,250.0,300.0,1,0,0,0,1,0,0
10,12.000000,10,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0,0,1,0,0,0
11,34.000000,11,10000.0,0,100,9.210340,inf,-1,200.0,250.0,0,0,1,0,0,0,1
12,15.000000,12,50000.0,1,100,10.819778,15.000000,1,250.0,300.0,0,1,0,0,0,1,0
13,10.000000,13,NaN,3,100,NaN,3.333333,1,200.0,250.0,0,0,1,0,0,1,0
14,15.000000,14,60000.0,2,100,11.002100,7.500000,-1,200.0,250.0,0,0,0,1,0,0,1
15,15.000000,15,NaN,3,100,NaN,5.000000,0,200.0,250.0,0,1,0,0,0,0,0
16,15.000000,16,60000.0,1,100,11.002100,15.000000,-1,250.0,300.0,0,0,1,0,0,0,1
17,20.000000,17,20000.0,3,100,9.903488,6.666667,1,150.0,200.0,1,0,0,0,0,1,0
18,45.000000,18,40000.0,3,100,10.596635,15.000000,1,250.0,300.0,0,0,1,0,1,0,0
19,17.288889,19,NaN,0,100,NaN,inf,-1,250.0,300.0,1,0,0,0,0,0,1
20,15.000000,20,10000.0,1,100,9.210340,15.000000,1,250.0,300.0,0,0,1,0,0,1,0
21,34.000000,21,50000.0,2,100,10.819778,17.000000,-1,150.0,200.0,0,1,0,0,0,0,1
22,7.000000,22,NaN,2,100,NaN,3.500000,1,250.0,300.0,1,0,0,0,1,0,0
23,10.000000,23,10000.0,3,100,9.210340,3.333333,1,150.0,200.0,1,0,0,0,1,0,0
24,17.288889,24,50000.0,3,100,10.819778,5.762963,0,200.0,250.0,1,0,0,0,0,0,0
25,7.000000,25,50000.0,3,100,10.819778,2.333333,-1,100.0,15.0,0,0,0,1,0,0,1
26,10.000000,26,40000.0,4,100,10.596635,2.500000,-1,150.0,200.0,0,0,1,0,0,0,1
27,10.000000,27,60000.0,0,100,11.002100,inf,1,150.0,200.0,1,0,0,0,1,0,0
28,10.000000,28,10000.0,3,100,9.210340,3.333333,1,200.0,250.0,1,0,0,0,1,0,0
29,15.000000,29,40000.0,2,100,10.596635,7.500000,0,200.0,250.0,0,1,0,0,0,0,0
30,45.000000,30,40000.0,1,100,10.596635,45.000000,0,250.0,300.0,0,1,0,0,0,0,0
31,17.288889,31,20000.0,1,100,9.903488,17.288889,0,250.0,300.0,0,0,1,0,0,0,0
32,10.000000,32,10000.0,2,100,9.210340,5.000000,-1,200.0,250.0,0,0,0,1,0,0,1
33,20.000000,33,30000.0,3,100,10.308953,6.666667,1,150.0,200.0,0,0,0,1,0,1,0
34,34.000000,34,50000.0,0,100,10.819778,inf,1,150.0,200.0,0,1,0,0,0,1,0
35,10.000000,35,10000.0,3,100,9.210340,3.333333,1,100.0,15.0,0,0,1,0,0,1,0
36,17.288889,36,40000.0,3,100,10.596635,5.762963,1,100.0,15.0,0,0,1,0,1,0,0
37,15.000000,37,NaN,3,100,NaN,5.000000,1,100.0,15.0,1,0,0,0,0,1,0
38,45.000000,38,NaN,0,100,NaN,inf,-1,250.0,300.0,0,0,1,0,0,0,1
39,15.000000,39,50000.0,1,100,10.819778,15.000000,0,250.0,300.0,0,1,0,0,0,0,0
40,20.000000,40,30000.0,1,100,10.308953,20.000000,1,100.0,15.0,0,0,0,1,0,1,0
41,17.288889,41,40000.0,1,100,10.596635,17.288889,-1,200.0,250.0,0,0,0,1,0,0,1
42,7.000000,42,10000.0,3,100,9.210340,2.333333,1,200.0,250.0,0,0,0,1,1,0,0
43,7.000000,43,50000.0,3,100,10.819778,2.333333,1,150.0,200.0,0,0,0,1,1,0,0
44,7.000000,44,40000.0,3,100,10.596635,2.333333,-1,150.0,200.0,0,0,1,0,0,0,1
45,7.000000,45,50000.0,0,100,10.819778,inf,0,250.0,300.0,1,0,0,0,0,0,0
46,15.000000,46,NaN,3,100,NaN,5.000000,1,200.0,250.0,1,0,0,0,0,1,0
47,12.000000,47,50000.0,3,100,10.819778,4.000000,1,250.0,300.0,0,0,1,0,1,0,0
48,34.000000,48,40000.0,4,100,10.596635,8.500000,0,200.0,250.0,0,1,0,0,0,0,0
49,7.000000,49,20000.0,4,100,9.903488,1.750000,0,100.0,15.0,0,0,1,0,0,0,0